#canvas {
  display: block;
  margin: auto;
  border: 1px solid black;
}

.button-container {
  display: flex;
  width: 50%;
  margin: 1rem auto 0 auto;
  flex-direction: row;
  justify-content: space-evenly;
}
